.nav {
  /* navigation bar를 아래쪽에 고정 */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  /* padding을 줘도 CSS가 신경쓰지 않도록
     box 사이즈를 늘리지 않도록
     CSS가 content가 보일 부분을 늘리지 않는다. */
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  /* 아이콘을 수평으로 정렬 */
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e3633;
}
